html {
  background-color: #21252b;
}

.nav {
  background-color: black;
}

.nav a {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

a {
  color: white;
  border-bottom: 1px solid white;
}
