html{
  background:url("landingpage_backg.png");
  background-repeat: no-repeat;
  background-position: cent;
  min-height: 100%;
  background-size: cover;
}
p{
  padding-right: 750px;
}
a{
  color: #ffffff;
}
