html {
  background:url("landingpage_backg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  padding-right: 15%;
  padding-left: 15%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
}

body h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 50%;
}

body h2 {
  font-size: 33px;
  font-weight: bolder;
}

a {
  color: white;
}

.content {
  margin-top: -2%;
}

.SocialLinks li {
  font-weight: bold;
  list-style: none;
  text-align: center;
  margin-right: 35px;
  display: inline;
}

.nav h3 {
  text-shadow: -1px 1px 12px #4d4d4f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav a {
  text-decoration: none;
}

.bodytext li {
  list-style: upper-latin;
  margin-right: 35px;
  padding-left: 0%;
  padding-right: 0%;
  line-height: 205%;
  text-align: left;
}

.open {
  padding-top: 12%;
  padding-bottom: 20%;
}
